.board {
  flex: 1 1 auto;
  background-color: var(--theme-bg-primary);
  border-radius: var(--border-radius-m);
  overflow-y: auto;

  &__inner {
    min-width: 942px;
    padding-block: 16px;
    padding-inline: 12px;
  }

  &__body {
    --gridColumn: 4;

    display: grid;
    grid-template-columns: repeat(var(--gridColumn), 1fr);
    column-gap: 12px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}