.board-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 700;

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: var(--border-radius-s);

    @include hover{
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    @container sidebar (width < 190px) {
      justify-content: center;

      & span {
        display: none;
      }
    }
  }
}