.sidebar {
  min-width: 296px;
  transition-duration: var(--transition-duration);

  @include tablet {
    min-width: 214px;
  }

  &.is-collapsed {
    min-width: 73px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    height: 100%;
    padding-inline: 12px; 
    container-name: sidebar;
    container-type: inline-size;
  }

  &__header {
    flex-shrink: 0;
    padding-inline: 4px;
    padding-top: 6px;
  }

  &__body {
    flex-grow: 1;
    margin-block: -8px;
    margin-inline: -12px;
    padding-block: 8px;
    padding-inline: 12px;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}