:root {
  /* default — light theme */
  --theme-bg: var(--color-white);
  --theme-bg-primary: var(--color-shade);
  --theme-text: var(--color-black);

  color-scheme: light;

  /* other preset */
  --color-white: #fff;
  --color-light: #fef7ee;
  --color-black: #191b1f;
  --color-black-rgb: 25 27 31;
  --color-grey: #2a2d32;
  --color-grey-light: #3A3E44;
  --color-silver: #7E878D;
  --color-shade: #F0F6FE;

  --color-accent: var(--color-blue);
  --color-bad-accent: #dd524c;

  --color-status-blue: #70a3f3;
  --color-status-yellow: #f3ce49;
  --color-status-purple: #b787f5;
  --color-status-green: #77db89;

  --color-red: #aa2e26;
  --color-red-light: #f6cccb;

  --color-blue: #3662e3;
  --color-blue-light: #dee9fc;
  --color-blue-deep: #2a4dd0;
  --color-blue-soft: #c4dafb;

  --color-green: #4ca154;
  --color-green-light: #e2fbe8;

  --color-yellow: #c18d30;
  --color-yellow-light: #fdf9c9;

  --border: 2px solid var(--color-grey-light);

  --border-radius-l: 40px;
  --border-radius-m: 12px;
  --border-radius-s: 8px;
  --border-radius-xs: 4px;

  --font-family-base: 'DM Sans';

  --transition-duration: 0.2s;

  --z-index-modal: 1000;
  --z-index-content: 100;
  --z-index-back: 10;
}

:root[data-theme='light'] {
  --theme-bg: var(--color-white);
  --theme-bg-primary: var(--color-shade);
  --theme-text: var(--color-black);

  color-scheme: light;
}

:root[data-theme='dark'] {
  --theme-bg: var(--color-black);
  --theme-bg-primary: var(--color-grey);
  --theme-text: var(--color-light);

  color-scheme: dark;
}
