.field-image {
  position: relative;

  @include flex-center;

  min-width: 456px;
  min-height: 120px;
  background-color: var(--color-grey-light);
  border-radius: var(--border-radius-s);
  overflow: hidden;

  &:hover &__actions-backdrop {
    @include show;
  }

  &__actions {
    @include flex-center(true);

    column-gap: 8px;

    &-backdrop {
      @include abs-cover;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: rgb(var(--color-black-rgb) / 80%);
      transition-duration: var(--transition-duration);

      @include hide;
    }

    &-button {
      font-weight: 700;

      &--random {
        background-color: var(--color-accent);
      }

      &--remove {
        background-color: var(--color-bad-accent);
      }
    }
  }

  &__plug {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-silver);
  }
}