.modal {
  &__backdrop {
    position: fixed;
    z-index: var(--z-index-modal);
    background-color: rgb(var(--color-black-rgb) / 90%);
    inset: 0; 

    @include flex-center;
  }

  &__body {
    display: grid;
    row-gap: 30px;
    max-width: 520px;
    padding-inline: 32px;
    padding-top: 25px; 
    padding-bottom: 32px;
    background-color: var(--theme-bg-primary);
    border-radius: var(--border-radius-m);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-close {
    @include flex-center(true);

    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;

    @include hover {
      color: var(--color-bad-accent);
    }

    &::before {
      content: '';

      @include abs-center;
      @include square(44px)
    }
  }
}