.context-menu {
  &__content {
    padding: 4px;
    background: var(--theme-bg-primary);
    border: 1px solid var(--color-silver);
    border-radius: var(--border-radius-s);
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    animation: context-menu-appear 0.1s ease-out;
  }

  &__item-button {
    width: 100%;
    padding: 4px 16px;

    @include flex-center(true);

    background: transparent;
    border: none;
    border-radius: inherit;
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-accent);
    }
  }
}

@keyframes context-menu-appear {
  from {
    @include hide;

    transform: scale(0.95);
  }

  to {
    @include show;

    transform: scale(1);
  }
}